<div class="app-mg-arr-3p">
  <div class="card app-ajustar-tamaño card-centrado">
    <div class="card-image">
      <img src="assets/img/untels.jpg" class="app-altura-350" />
    </div>

    <div class="card-content app-alinear-texto">
      <span class="card-title">Estado Nutricional</span>
      <div class="app-centrar app-ancho-50p">
        <div class="col s12 app-mg-ver-10">
          <a
            routerLink="/iniciar-sesion"
            routerLinkActive="active"
            class="waves-effect waves-light btn-small amber darken-3 app-ancho-100p"
            >Iniciar Sesión</a
          >
        </div>
        <div class="col s12 app-mg-ver-10">
          <a
            routerLink="/registro"
            routerLinkActive="active"
            class="waves-effect waves-light btn-small amber darken-3 app-ancho-100p"
            >Registrarse</a
          >
        </div>
      </div>
      <p>2020</p>
    </div>
  </div>
</div>
