<div class="app-mg-arr-3p">
  <div class="card app-ajustar-tamaño card-centrado">
    <div class="card-content app-alinear-texto">
      <form (submit)="registrar($event)">
        <div [hidden]="parteRegistro !== 1">
          <span class="card-title">Nombre App</span>

          <div class="input-field"
          >
            <input  [(ngModel)]="formulario.nombres"
            name="nombre"
            id="ingre_nombres"
            type="text"
            class="validate"/>
            <label for="reg_nombres">Nombres</label>
          </div>

          <div class="input-field">
            <input id="reg_ap_pat"  
            [(ngModel)]="formulario.apePaterno"
                name="apePaterno"
                id="ingre_apePaterno"
                type="text"
                class="validate"/>
            <label for="reg_ap_pat">Apellido Paterno</label>
          </div>

          <div class="input-field">
            <input id="reg_ap_mat" 
            [(ngModel)]="formulario.apeMaterno"
            name="apeMaterno"
            id="ingre_apeMaterno"
            type="text"
            class="validate"/>
            <label for="reg_ap_mat">Apellido Materno</label>
          </div>

          <div class="input-field">
            <input id="reg_correo" type="email" class="validate" 
            [(ngModel)]="formulario.correoElectronico"
                name="correoElectronico"
                id="ingre_correoElectronico"
                />
            <label for="reg_correo">Correo electrónico</label>
          </div>

          <div class="input-field">
            <input i type="number" class="validate" 
            [(ngModel)]="formulario.dni"
                name="dni"
                id="ingre_dni"/>
            <label for="reg_dni">DNI</label>
          </div>

          <div class="input-field">
            <input  type="password" class="validate" 
            [(ngModel)]="formulario.clave"
            name="clave"
            id="ingre_clave"
            class="validate"/>
            <label for="reg_contra">Contraseña</label>
            <span
              class="helper-text"
              data-error="Ingrese un email válido"
              data-success="right"
            ></span>
          </div>

          <button
            type="button"
            (click)="siguienteParte(2)"
            class="waves-effect waves-light btn-small amber darken-3 app-ancho-100p"
          >
            Continuar
          </button>
          <app-spinner *ngIf="estado == Estados.CARGANDO"></app-spinner>
        </div>
        <div [hidden]="parteRegistro !== 2">
          <div>
            <div class="left-align">
              <a (click)="siguienteParte(1)"
                ><i class="material-icons selector-icono">chevron_left</i></a
              >
            </div>
            <div class="center-align">
              <span class="card-title">Registro</span>
            </div>
          </div>
          <div class="input-field">
            <input  type="radio" 
            [(ngModel)]="formulario.sexo"
              name="sexo"
              id="ingre_sexo"
              class="validate"/>
            <span>Masculino</span>
            <input type="radio" 
            [(ngModel)]="formulario.sexo"
              name="sexo"
              id="ingre_sexo"
              class="validate"/>
            <span>Femenino</span>
          </div>

          <div class="app-centrar app-ancho-60">
            <div class="col s12">
              <h6 class="left-align">Seleccione:</h6>

              <div >
                <div class="col s6">
                  <a (click)="selecionarRol('Alumno')" >
                    <div
                      class="selector card valign-wrapper app-centrar-contenido"
                      style="height: 20vh; display: grid"
                    >
                      <i class="material-icons app-color-negro large">school</i>
                      <p class="app-color-negro">Alumno</p>
                    </div>
                  </a>
                </div>
                <div class="col s6">
                  <a href="" (click)="selecionarRol('Especialista')">
                    <div
                      class="selector card valign-wrapper app-centrar-contenido"
                      style="height: 20vh; display: grid"
                    >
                      <i
                        class="fas fa-user-md app-color-negro tamaño-icono-6r"
                      ></i>
                      <p class="app-color-negro">Especialista</p>
                    </div>
                  </a>
                </div>
              </div>

              <div class="input-field">
                <input id="cmp"
                [(ngModel)]="formulario.codigo"
                name="codigo"
                id="ingre_codigo"
                type="number"
                class="validate"/>
                <label for="cmp">CMP</label>
              </div>

              <button
                type="submit"
                class="waves-effect waves-light btn-small amber darken-3 app-ancho-100p btn"
              >
                Finalizar Registro
              </button>
              <div id="registro-exitoso" class="modal modal-pequeño">
                <div class="modal-content">
                  <h4 class="center-align">Registro exitoso</h4>
                  <div class="app-mg-ver-30">
                    <p class="center-align">Inicie sesión para empezar</p>
                  </div>

                  <div class="center-align">
                    <a
                      class="waves-effect waves-light btn-small amber darken-3 app-ancho-50p"
                      >Aceptar</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="card-action app-mg-der-dentro-24">
        <a routerLink="/iniciar-sesion" routerLinkActive="active">Ingresar</a>
      </div>
    </div>
  </div>
</div>
