<div class="app-mg-arr-3p">
  <div class="card app-ajustar-tamaño card-centrado">
    <div class="card-content app-alinear-texto">
      <form materialize (submit)="registrar($event)">
        <!-- Parte 1 -->
        <div [hidden]="parteRegistro !== 1">
          <span class="card-title">Estado Nutricional</span>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.nombres"
              name="nombre"
              id="nombres"
              type="text"
              class="validate"
            />
            <label for="nombres">Nombres</label>
          </div>

          <div class="input-field">
            <input
              id="ape-paterno"
              [(ngModel)]="formulario.apePaterno"
              name="ape-paterno"
              type="text"
              class="validate"
            />
            <label for="ape-paterno">Apellido Paterno</label>
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.apeMaterno"
              name="ape-paterno"
              id="ape-materno"
              type="text"
              class="validate"
            />
            <label for="ape-paterno">Apellido Materno</label>
          </div>

          <div class="input-field">
            <input
              type="email"
              class="validate"
              [(ngModel)]="formulario.correoElectronico"
              name="correo-electronico"
              id="correo-electronico"
            />
            <label for="correo-electronico">Correo electrónico</label>
          </div>

          <div class="input-field">
            <input
              type="text"
              class="validate"
              [(ngModel)]="formulario.dni"
              name="dni"
              id="dni"
            />
            <label for="dni">DNI</label>
          </div>

          <div class="input-field">
            <input
              type="password"
              class="validate"
              [(ngModel)]="formulario.clave"
              name="clave"
              id="clave"
              class="validate"
            />
            <label for="clave">Contraseña</label>
          </div>

          <button
            type="button"
            (click)="mostrarParte(2)"
            class="waves-effect waves-light btn btn-small amber darken-3 app-ancho-100p"
          >
            Continuar
          </button>
        </div>
        <!-- Parte 2 -->
        <div [hidden]="parteRegistro !== 2">
          <div class="row">
            <div class="col s6">
              <div
                class="card app-radio-card"
                [class.app-radio-card-selected]="formulario.rol === 'ALUMNO'"
                (click)="selecionarRol('ALUMNO')"
              >
                <div class="card-content center-align">
                  <div>
                    <i class="fas fa-user-graduate" style="font-size: 2rem"></i>
                  </div>
                  <span>Alumno</span>
                </div>
              </div>
            </div>
            <div class="col s6">
              <div
                class="card app-radio-card"
                [class.app-radio-card-selected]="formulario.rol === 'MEDICO'"
                (click)="selecionarRol('MEDICO')"
              >
                <div class="card-content center-align">
                  <div>
                    <i class="fas fa-user-md" style="font-size: 2rem"></i>
                  </div>
                  <span>Médico</span>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="formulario.rol !== ''" class="input-field">
            <input
              [(ngModel)]="formulario.codigo"
              name="codigo"
              id="codigo"
              type="text"
              class="validate"
            />
            <label for="codigo"
              >{{
                formulario.rol === "MEDICO" ? "CMP" : "Código Universitario"
              }}
            </label>
          </div>

          <div style="margin-bottom: 10px">
            <input
              type="radio"
              [(ngModel)]="formulario.sexo"
              name="sexo-m"
              id="sexo-m"
              class="validate"
              value="M"
            />
            <label for="sexo-m">Masculino</label>
            <input
              type="radio"
              [(ngModel)]="formulario.sexo"
              name="sexo-f"
              id="sexo-f"
              class="validate"
              value="F"
            />
            <label for="sexo-f">Femenino</label>
          </div>

          <button
            *ngIf="estado == Estados.INICIAL"
            type="submit"
            class="waves-effect waves-light btn btn-small amber darken-3 app-ancho-100p"
          >
            Finalizar Registro
          </button>
          <div *ngIf="estado == Estados.CARGANDO" class="center-align">
            <app-spinner></app-spinner>
          </div>
          <div class="center-align app-link" style="margin-top: 10px">
            <a
              class="app-link"
              href="javascript:void(0)"
              (click)="mostrarParte(1)"
            >
              Retroceder
            </a>
          </div>
        </div>
      </form>

      <div class="center-align">
        <a
          class="app-link"
          routerLink="/iniciar-sesion"
          routerLinkActive="active"
          >Ingresar</a
        >
      </div>
    </div>
  </div>
</div>
