<div
  materialize="modal"
  [id]="modalId"
  class="modal modal-max modal-max-width"
  [materializeActions]="modalActions"
>
  <div class="modal-content">
    <h5>Informe Grupal - IMC</h5>

    <div class="row app-mg-abajo-0">
      <div class="col s12 m12 l4">
        <app-informe-imc-grupal-porcentaje-genero-alumnos-card
          [reporteSexo]="reporteIMC?.sexo"
        ></app-informe-imc-grupal-porcentaje-genero-alumnos-card>
      </div>
      <div class="col s12 m12 l4">
        <app-informe-imc-grupal-porcentaje-nivel-estres-card
          [reporteEstres]="reporteIMC?.estres"
        ></app-informe-imc-grupal-porcentaje-nivel-estres-card>
      </div>
      <div class="col s12 m12 l4">
        <app-informe-imc-grupal-porcentaje-rendimiento-academico-card
          [reporteRendimientoAcademico]="reporteIMC?.rendimientoAcademico"
        ></app-informe-imc-grupal-porcentaje-rendimiento-academico-card>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <h6>Datos Generales</h6>
            <div>
              <div>
                <b>Total Alumnos: </b
                ><span>{{ reporteIMC?.totalAlumnos }}</span>
              </div>
              <div>
                <b>Porcentaje Alumnos: </b><span>{{ porcentajeAlumnos }}%</span>
              </div>
              <div>
                <b>Edad Promedio: </b
                ><span>{{ reporteIMC?.edadPromedio }} años</span>
              </div>
              <div>
                <b>Actividad Física Promedio: </b
                ><span>{{ reporteIMC?.actividadFisicaPromedio }} horas</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m8">
        <div class="card">
          <div class="card-content">
            <h6>Resumen</h6>
            <p>{{ reporteIMC?.mensajeClasificacion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
