<div class="card">
  <div class="card-content">
    <div class="left-align">
      <h6>Filtros</h6>
    </div>
    <div class="row">
      <div class="col s6 l3">
        <div class="input-field">
          <input id="first_name" type="text" class="validate" />
          <label for="first_name">Nombres</label>
        </div>
      </div>

      <div class="col s6 l3">
        <div class="input-field">
          <input id="ap_pat" type="text" class="validate" />
          <label for="ap_pat">Apellido Paterno</label>
        </div>
      </div>

      <div class="col s6 l3">
        <div class="input-field">
          <input id="ap_mat" type="text" class="validate" />
          <label for="ap_mat">Apellido Materno</label>
        </div>
      </div>

      <div class="col s6 l3">
        <div class="input-field">
          <input id="dni" type="text" class="validate" />
          <label for="dni">DNI</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l3">
        <div class="col l6 s6">
          <div class="input-field">
            <input id="edad_min" type="text" class="validate" />
            <label for="edad_min">Edad Mínima</label>
          </div>
        </div>

        <div class="col l6 s6">
          <div class="input-field">
            <input id="edad_max" type="text" class="validate" />
            <label for="edad_max">Edad Máxima</label>
          </div>
        </div>
      </div>

      <div class="col s6 m6 l3">
        <div class="input-field">
          <input id="cod_univ" type="text" class="validate" />
          <label for="cod_univ">Codigo Universitario</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s3" style="float: right">
        <a
          class="waves-effect waves-light btn-small amber darken-3 app-ancho-100p"
        >
          Filtrar
        </a>
      </div>
    </div>
  </div>
</div>
