<div
  materialize="modal"
  [id]="modalId"
  class="modal modal-max"
  [materializeActions]="modalActions"
  style="width: 310px"
>
  <div class="modal-content">
    <h5>Eliminar usuario</h5>
    <div>
      <div>
        <b>Nombres: </b><span>{{ persona?.nombre }}</span>
      </div>
      <div>
        <b>Apellidos: </b
        ><span>{{ persona?.apepaterno }} {{ persona?.apematerno }}</span>
      </div>
      <div>
        <b>Edad: </b><span>{{ persona?.edad }}</span>
      </div>
      <div>
        <b>Correo Electrónico: </b
        ><span>{{ persona?.usuario?.correoElectronico }}</span>
      </div>
    </div>
    <div *ngIf="estado === Estados.CARGANDO" class="align-center">
      <app-spinner></app-spinner>
    </div>
    <div *ngIf="estado === Estados.INICIAL" class="right-align">
      <button
        type="button"
        (click)="eliminarUsuario()"
        class="waves-effect waves-light btn amber darken-3"
        style="margin-right: 10px"
      >
        Eliminar
      </button>
      <button
        type="button"
        (click)="cerrarModal()"
        class="waves-effect waves-light btn red darken-3"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
