<div class="card">
  <div class="card-content">
    <div class="left-align">
      <h6>Datos actuales</h6>
    </div>
    <div *ngIf="estado === Estados.VACIO" class="center-align">
      <i class="material-icons">info</i>
      <p class="app-mg-arr-0">No se encontraron datos</p>
      <button
        data-target="datos-actuales-alumno-actualizar-datos-modal"
        class="waves-effect waves-light btn btn-small amber darken-3 modal-trigger"
      >
        Ingresar mis datos
      </button>
    </div>
    <div *ngIf="estado === Estados.CON_DATOS" class="row">
      <div class="col s12 l6">
        <div class="app-ancho-100p">
          <div class="app-flex app-distanciamiento app-mg-ver-5">
            <b>Fecha de registro:</b>
            <span>{{ fechaRegistro }}</span>
          </div>

          <div class="app-flex app-distanciamiento app-mg-ver-5">
            <b>IMC:</b>
            <div>
              <span class="new badge red" data-badge-caption="">
                {{ categoriaIMC }}
              </span>
              <span>{{ datosActuales?.valorIMC }}</span>
            </div>
          </div>

          <div class="app-flex app-distanciamiento app-mg-ver-5">
            <b>ICC:</b>
            <div>
              <span class="new badge red" data-badge-caption="">
                {{ categoriaICC }}
              </span>
              <span> {{ datosActuales?.valorICC }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <button
          (click)="abrirDatosAntropometricosAlumnoDetallesModal()"
          class="waves-effect waves-light btn amber darken-3 app-ancho-100p app-mg-ver-5"
        >
          Detalles
        </button>
        <button
          *ngIf="datosActuales?.recomendacion"
          class="waves-effect waves-light btn amber darken-3 app-ancho-100p app-mg-ver-5"
          (click)="abrirSugerenciaModal()"
        >
          Sugerencias
        </button>
        <!-- TODO: No mostrar si no es la primera semana de cada mes (consultar a api) -->
        <button
          *ngIf="true"
          (click)="abrirDatosActualesAlumnoFormModal()"
          class="waves-effect waves-light btn green darken-3 app-ancho-100p app-mg-ver-5 modal-trigger"
        >
          Actualizar
        </button>
      </div>
    </div>
    <div *ngIf="estado === Estados.CARGANDO" class="center-align">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

<app-datos-antropometricos-alumno-detalles-modal
  [modalId]="'datos-actuales-alumno-modal'"
  [modalActions]="datosAntropometricosAlumnoDetallesModalActions"
  [datoAntropometrico]="datosActuales"
></app-datos-antropometricos-alumno-detalles-modal>

<app-sugerencia-modal
  [modalId]="'datos-actuales-alumno-sugerencias-modal'"
  [modalActions]="sugerenciaModalActions"
  [sugerencia]="datosActuales?.recomendacion?.mensaje"
>
</app-sugerencia-modal>

<app-datos-actuales-alumno-form-modal
  [modalId]="'datos-actuales-alumno-actualizar-datos-modal'"
  [modalActions]="datosActualesAlumnoFormModalActions"
  [inicial]="!datosActuales"
></app-datos-actuales-alumno-form-modal>
