<div class="navbar-fixed">
  <nav class="app-padding-left amber darken-3">
    <div class="nav-wrapper">
      <a
        *ngIf="!esAlumno"
        data-activates="app-menu"
        class="button-collapse"
        href="#"
      >
        <i class="fas fa-bars"></i>
      </a>
      <a href="javascript:void(0)" (click)="aPrincipal()">
        <span>Estado Nutricional</span>
      </a>
      <ul id="navbar-items" class="right">
        <li>
          <a
            materialize="dropdown"
            class="dropdown-button"
            href="#"
            data-activates="persona"
          >
            {{ persona?.nombre }}
            <i class="fas fa-caret-down"></i>
          </a>
        </li>
      </ul>

      <ul id="persona" class="dropdown-content app-dropdown-menu">
        <li>
          <a
            href="javascript:void(0)"
            (click)="abrirDatosPersonalesFormModal()"
          >
            <i class="fas fa-user"></i> Datos Personales
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a (click)="cerrarSesion()">
            <i class="fas fa-sign-out-alt"></i> Salir
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<app-datos-personales-form-modal
  [modalId]="'modal-datos-personales'"
  [modalActions]="datosPersonalesFormModalActions"
></app-datos-personales-form-modal>

<app-menu-lateral [menuId]="'app-menu'"></app-menu-lateral>
