<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleccionar especialista</title>
    <link rel="stylesheet" href="seleccionar-especialista.component.css">
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <!-- El contenido va aquí -->
    <div class="app-centrar-cuerpo">
        <div class="app-centrar app-ancho-60 app-mg-arr-7p">
            <div class="card">
                <div class="card-content app-alinear-texto">
                    <div>
                        <div class="left-align"><a href=""><i class="material-icons">chevron_left</i></a></div>
                        <div class="center-align"><span class="card-title">Registro</span></div>
                    </div>
                    
                    <div class="app-centrar app-ancho-60">
                        <div class="col s12">
                            <div class="row s12">
                                <div class="col s6">
                                    <p class="left-align">Genero</p>
                                </div>

                                <div class="col s6">
                                    <i class="material-icons selector-icono">school</i>
                                    <i class="material-icons selector-icono">school</i>
                                </div>
                            </div>
                            <h6 class="left-align">Seleccione:</h6>

                            <div class="row s12">
                                <div class="col s6">
                                    <a href="../seleccionarEst">
                                        <div class="selector card valign-wrapper app-centrar-contenido" style="height: 20vh; display: grid;">
                                            <i class="material-icons app-color-negro large" >school</i>
                                            <p class="app-color-negro">Alumno</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col s6">
                                    <a href="../seleccionarEsp">
                                        <div class="selector card valign-wrapper app-centrar-contenido" style="height: 20vh; display: grid;">
                                            <i class="material-icons app-color-negro large">school</i>
                                            <p class="app-color-negro">Especialista</p>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="cmp" type="text" class="validate">
                                    <label for="cmp">CMP</label>
                                </div>
                            </div>

                            <div class="col s12 app-mg-ver-10">
                                <a href="#idModal" class="waves-effect waves-light btn-small amber darken-3 app-ancho-100p btn modal-trigger">Finalizar Registro</a>

                                
                                <div id="idModal" class="modal">
                                    <div class="modal-content">

                                        <div class="app-centrar app-ancho-60">
                                            <div class="col s12">
                                                <div class="app-mg-ver-30">
                                                    <h4>Registro exitoso</h4>
                                                </div>
                                                
                    
                                                <div class="app-mg-ver-30">
                                                    <h6>Inicie sesion para empezar</h6>
                                                </div>
                    
                                                <div class="app-mg-ver-30">
                                                    <a class="waves-effect waves-light btn-small amber darken-3 app-ancho-50p">Aceptar</a>
                                                </div>
                    
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card-action app-mg-der-dentro-24">
                                <a href="">Ingresar</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="assets/base.js"></script>
  </body>
</html>
