<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" href="perfil.component.css">
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <!-- El contenido va aquí -->
    <div class="contenedor">

      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper amber darken-3">
            <a href="#!" class="brand-logo">Nombre app</a>

            <ul id="navbar-items" class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-trigger" data-target="dropdown-menu" href="#">
                        Ignacio <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>

            <ul id="dropdown-menu" class="dropdown-content">
                <li><a href="#">Datos personales<i class="material-icons">person</i></a></li>
                <li class="divider"></li>
                <li><a href="#">Salir<i class="material-icons">exit_to_app</i></a></li>
            </ul>
          </div>
        </nav>
      </div>



      <div class="row">
        <div class="col s6 ">
          <!-- Grey navigation panel -->
          <div class="col s12">
            
            <div class="col s12">
              <div class="card" >
                <div class="card-content valign-wrapper app-distanciamiento">
                  <h6>Estado actual</h6>
                  <div class="app-flex">
                    <i class="material-icons">info</i>
                    <p class="app-mg-arr-0">No se encontraron datos</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <div class="left-align">
                    <h6>Datos actuales</h6>
                  </div>
                  <div class="center-align">
                    <i class="material-icons">info</i>
                    <p class="app-mg-arr-0">No se encontraron datos</p>
                    <a class="waves-effect waves-light btn-small amber darken-3 ">Ingresar mis datos</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <div class="left-align">
                    <h6>Historial de Datos</h6>
                    <div class="center-align">
                      <i class="material-icons">info</i>
                      <p class="app-mg-arr-0">No se encontraron datos</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col s6 ">
          <!-- Teal page content  -->
          <div class="col s12">

            <div class="col s12">
              <div class="card" >
                <div class="card-content">
                  <div class="left-align">
                    <h6>Índice de Masa Corporal-Evolución</h6>
                    <div class="center-align">
                      <i class="material-icons">info</i>
                      <p class="app-mg-arr-0">No se encontraron datos</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col s12">
              <div class="card ">
                <div class="card-content">
                  <div class="left-align">
                    <h6>Índice de Contorno Cadera-Evolución</h6>
                    <div class="center-align">
                      <i class="material-icons">info</i>
                      <p class="app-mg-arr-0">No se encontraron datos</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="assets/base.js"></script>
  </body>
</html>
