<!--Inicio modal-datos-personales-->
<div
  materialize="modal"
  [id]="modalId"
  class="modal modal-max"
  [materializeActions]="modalActions"
>
  <div class="modal-content">
    <h5>Datos personales</h5>
    <div class="right-align">
      <span
        *ngIf="personaActual?.usuario?.rol?.rolNombre === 'ROLE_ALUMNO'"
        class="app-badge"
      >
        Alumno <i class="fas fa-user-graduate"></i>
      </span>
      <span
        *ngIf="personaActual?.usuario?.rol?.rolNombre === 'ROLE_MEDICO'"
        class="app-badge"
      >
        Médico <i class="fas fa-user-md"></i>
      </span>
      <span
        *ngIf="personaActual?.usuario?.rol?.rolNombre === 'ROLE_ADMINISTRADOR'"
        class="app-badge"
      >
        <b>Administrador</b>
      </span>
    </div>
    <form materialize (ngSubmit)="actualizarUsuario($event)">
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field">
            <input
              [(ngModel)]="formulario.nombres"
              name="nombres"
              [id]="modalId + '-nombres'"
              [value]="formulario.nombres"
              type="text"
              class="validate"
            />
            <label for="{{ modalId + '-nombres' }}" class="active"
              >Nombres</label
            >
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.apePaterno"
              [value]="formulario.apePaterno"
              name="ape-paterno"
              [id]="modalId + '-ape-paterno'"
              type="text"
              class="validate"
            />
            <label for="{{ modalId + '-ape-paterno' }}">Apellido Paterno</label>
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.apeMaterno"
              name="ape-materno"
              [id]="modalId + '-ape-materno'"
              [value]="formulario.apeMaterno"
              type="text"
              class="validate"
            />
            <label for="{{ modalId + '-ape-materno' }}">Apellido Materno</label>
          </div>

          <div *ngIf="fechaNacimiento" class="input-field">
            <input
              disabled
              [value]="personaActual?.edad"
              [id]="modalId + '-edad'"
              type="text"
              class="validate"
            />
            <label for="{{ modalId + '-edad' }}">Edad</label>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="input-field">
            <input
              disabled
              [value]="personaActual?.usuario?.correoElectronico"
              [id]="modalId + '-correo-electronico'"
              type="text"
              class="validate"
            />
            <label for="{{ modalId + '-correo-electronico' }}"
              >Correo electrónico</label
            >
          </div>

          <div class="input-field">
            <input
              disabled
              [value]="personaActual?.dni"
              [id]="modalId + '-dni'"
              type="text"
              class="validate"
            />
            <label for="{{ modalId + '-dni' }}">DNI</label>
          </div>

          <div *ngIf="fechaNacimiento" class="input-field">
            <input
              disabled
              [value]="fechaNacimiento"
              [id]="modalId + '-fecha-nacimiento'"
              type="text"
              class="validate"
            />
            <label for="{{ modalId + '-fecha-nacimiento' }}"
              >Fecha Nacimiento</label
            >
          </div>
        </div>
      </div>
      <div *ngIf="estado === Estados.CARGANDO" class="center-align">
        <app-spinner></app-spinner>
      </div>
      <div *ngIf="estado === Estados.INICIAL" class="right-align">
        <button
          type="submit"
          [disabled]="!haCambiado"
          class="waves-effect waves-light btn amber darken-3"
        >
          Guardar
        </button>
        <button
          type="button"
          (click)="cerrarModal()"
          class="waves-effect waves-light btn red darken-3"
          style="margin-left: 10px"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
