<div style="padding: 0.75rem 0.75rem">
  <app-filtro-lista-alumnos-card
    (filtrar)="filtrarAlumnos($event)"
  ></app-filtro-lista-alumnos-card>

  <div class="card">
    <div class="card-content">
      <h6>Listado de alumnos</h6>
      <div class="right-align">
        <a
          href="#app-nuevo-alumno-form-modal"
          class="waves-effect waves-light btn-small amber darken-3 modal-trigger"
        >
          Nuevo alumno
        </a>
      </div>
      <div style="overflow-x: visible; overflow-y: hidden">
        <table class="striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>DNI</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Edad</th>
              <th>Código Universitario</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let alumno of listaAlumnos">
              <td>{{ alumno.id }}</td>
              <td>{{ alumno?.persona?.dni }}</td>
              <td>{{ alumno?.persona?.nombre }}</td>
              <td>
                {{ alumno?.persona?.apepaterno }}
                {{ alumno?.persona?.apematerno }}
              </td>
              <td>{{ alumno?.persona?.edad }}</td>
              <td>{{ alumno?.codigoUniversitario }}</td>
              <td>
                <div ngDropdown>
                  <button
                    ngDropdownControl
                    type="button"
                    class="waves-effect waves-light btn-small amber darken-3"
                  >
                    <i class="fas fa-ellipsis-v"></i> Acciones
                  </button>
                  <div
                    ngDropdownContent
                    dropdownClass="slide-fade app-dropdown-content"
                  >
                    <ul>
                      <li>
                        <a
                          href="#modal-detalles-actuales"
                          class="modal-trigger"
                        >
                          Detalles actuales
                        </a>
                      </li>
                      <li>
                        <a href="#modal-historial-alumno" class="modal-trigger"
                          >Detalles de registro</a
                        >
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#modal-eliminar" class="modal-trigger"
                          >Eliminar</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-nuevo-alumno-form-modal
  [modalId]="'app-nuevo-alumno-form-modal'"
></app-nuevo-alumno-form-modal>

<app-detalles-actuales-alumno-modal></app-detalles-actuales-alumno-modal>

<!-- Aqui va detalles-actuales-alumno-modal -->
