<div style="padding: 0.75rem 0.75rem">
  <app-filtro-lista-alumnos-card
    (filtrar)="filtrarAlumnos($event)"
  ></app-filtro-lista-alumnos-card>

  <div class="card">
    <div class="card-content">
      <h6>Listado de alumnos</h6>
      <div class="right-align">
        <button
          (click)="abrirNuevoAlumnoFormModal()"
          type="button"
          class="waves-effect waves-light btn amber darken-3"
        >
          Nuevo alumno
        </button>
      </div>
      <div *ngIf="estado === Estados.VACIO" class="center-align">
        <i class="material-icons">info</i>
        <p class="app-mg-arr-0">No se encontraron datos</p>
      </div>
      <div *ngIf="estado === Estados.CARGANDO" class="center-align">
        <app-spinner></app-spinner>
      </div>
      <div
        *ngIf="estado === Estados.CON_DATOS"
        style="overflow-x: visible; overflow-y: hidden"
      >
        <table class="striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>DNI</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Edad</th>
              <th>Código Universitario</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let alumno of listaAlumnos; let i = index">
              <td>{{ alumno.id }}</td>
              <td>{{ alumno?.persona?.dni }}</td>
              <td>{{ alumno?.persona?.nombre }}</td>
              <td>
                {{ alumno?.persona?.apepaterno }}
                {{ alumno?.persona?.apematerno }}
              </td>
              <td>{{ alumno?.persona?.edad }}</td>
              <td>{{ alumno?.codigoUniversitario }}</td>
              <td>
                <div ngDropdown>
                  <button
                    ngDropdownControl
                    type="button"
                    class="waves-effect waves-light btn amber darken-3"
                  >
                    <i class="fas fa-ellipsis-v"></i> Acciones
                  </button>
                  <div
                    ngDropdownContent
                    dropdownClass="slide-fade app-dropdown-content"
                  >
                    <ul>
                      <li>
                        <a
                          href="javascript:void(0)"
                          (click)="abrirDatosAntropometricosActualesModal(i)"
                        >
                          Datos actuales
                        </a>
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          (click)="abrirDetallesRegistrosModal(i)"
                        >
                          Historial Registros
                        </a>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          (click)="abrirEliminarUsuarioModal(i)"
                        >
                          Eliminar
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-nuevo-alumno-form-modal
  [modalId]="'app-nuevo-alumno-form-modal'"
  [modalActions]="nuevoAlumnoFormModalActions"
  (registrado)="filtrarTodo()"
></app-nuevo-alumno-form-modal>

<app-datos-antropometricos-actuales-alumno-modal
  [modalId]="'app-datos-antropometricos-actuales-alumno-modal'"
  [modalActions]="datosAntropometricosActualesModalActions"
  [idAlumno]="alumnoSeleccionado?.id"
></app-datos-antropometricos-actuales-alumno-modal>

<app-detalles-registros-alumno-modal
  [modalId]="'app-detalles-registros-alumno-modal'"
  [modalActions]="detallesRegistrosModalActions"
  [persona]="alumnoSeleccionado?.persona"
></app-detalles-registros-alumno-modal>

<app-eliminar-usuario-modal
  [modalId]="'app-eliminar-usuario-modal'"
  [modalActions]="eliminarUsuarioModalActions"
  [persona]="alumnoSeleccionado?.persona"
  (eliminado)="filtrarTodo()"
></app-eliminar-usuario-modal>
