<div class="card">
  <div class="card-content">
    <div class="left-align">
      <h6>Índice de Contorno Cintura Cadera Grupal-Evolución</h6>
      <div *ngIf="estado === Estados.VACIO" class="center-align">
        <i class="material-icons">info</i>
        <p class="app-mg-arr-0">No se encontraron datos</p>
      </div>
      <div *ngIf="estado === Estados.CON_DATOS">
        <canvas
          baseChart
          height="150"
          [datasets]="chartDataSets"
          [labels]="chartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
        >
        </canvas>
      </div>
      <div *ngIf="estado === Estados.CARGANDO" class="center-align">
        <app-spinner></app-spinner>
      </div>
    </div>
  </div>
</div>
