
<!-- El contenido va aquí -->
    <div class="app-centrar-cuerpo">
        <div class="app-centrar app-ancho-50 app-mg-arr-7p">
            <div class="card">
                <div class="card-content app-alinear-texto">
                    <span class="card-title">Nombre App</span>
                    <div class="app-centrar app-ancho-50">
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="col s12">
                        <div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" formControlName="correoElectronico">
                                    <label for="email">Correo electrónico</label>
                                    <span class="helper-text" data-error="Ingrese un email válido" data-success="right"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" formControlName="clave">
                                    <label for="password">Contraseña</label>
                                    <span class="helper-text" data-error="Ingrese un email válido" data-success="right"></span>
                                </div>
                            </div>

                            <div class="card-action app-mg-der-dentro-24">
                                <input type="submit" class="fadeIn fourth" value="Ingresar">
                            </div>

                            <div class="col s12 app-mg-ver-10">
                                <a class="waves-effect waves-light btn-small amber darken-3 app-ancho-100p" href="../base/">Regresar</a>
                            </div>

                            <p>2020</p>
                        </div>
                        </form>
                        
                        <div *ngIf="errorStatus">
                            <p>{{errorMsj}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
