<div id="{{ modalId }}" class="modal modal-max">
  <div class="modal-content">
    <h5>Detalles de los datos antropométricos</h5>

    <div class="row app-mg-abajo-0">
      <div class="col s12 m6">
        <b>Fecha de registro:</b>
      </div>
      <div class="col s12 m6 right-align">
        <span>{{ fechaRegistro }}</span>
      </div>
    </div>
    <div class="row app-mg-abajo-0">
      <div class="col s12 m6">
        <b>IMC:</b>
      </div>
      <div class="col s12 m6 right-align">
        <span class="new badge red" data-badge-caption="">
          {{ categoriaIMC }}
        </span>
        <span>
          {{ datoAntropometrico?.valorIMC }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <b>ICC:</b>
      </div>
      <div class="col s12 m6 right-align">
        <span class="new badge red" data-badge-caption="">
          {{ categoriaICC }}
        </span>
        <span>
          {{ datoAntropometrico?.valorICC }}
        </span>
      </div>
    </div>
    <hr />
    <div style="overflow-x: visible; overflow-y: hidden">
      <table class="striped">
        <thead>
          <tr>
            <th>Estatura</th>
            <th>Contorno Cintura</th>
            <th>Actividad Física</th>
            <th>Nivel de estrés</th>
            <th>Peso</th>
            <th>Contorno Cadera</th>
            <th>Rendimiento académico</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ datoAntropometrico?.estatura }} metros</td>
            <td>{{ datoAntropometrico?.contornoCintura }} metros</td>
            <td>{{ datoAntropometrico?.actividadFisica }} horas</td>
            <td>{{ nivelEstres }}</td>
            <td>{{ datoAntropometrico?.peso }} kilos</td>
            <td>{{ datoAntropometrico?.contornoCadera }} metros</td>
            <td>{{ rendimientoAcademico }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      *ngIf="datoAntropometrico?.recomendacion"
      class="center-align app-mg-ver-30"
    >
      <a
        href="#historial-datos-alumno-sugerencia-modal"
        class="waves-effect waves-light btn-small amber darken-3 modal-trigger"
      >
        Sugerencia
      </a>
    </div>
    <div class="app-alinear-texto">
      <a class="waves-effect modal-close waves-light btn-small amber darken-3"
        >Aceptar</a
      >
    </div>
  </div>
</div>

<app-sugerencia-modal
  [modalId]="'historial-datos-alumno-sugerencia-modal'"
  [sugerencia]="datoAntropometrico?.recomendacion?.mensaje"
></app-sugerencia-modal>
