<div [id]="modalId" class="modal modal-max">
  <div class="modal-content">
    <h5>Datos actuales</h5>
    <form>
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field">
            <input id="estatura" type="number" class="validate" step="any" />
            <label for="estatura">Estatura (metros)</label>
          </div>

          <div class="input-field">
            <input
              id="contorno-cintura"
              type="number"
              class="validate"
              step="any"
            />
            <label for="contorno-cintura">Contorno cintura (metros)</label>
          </div>

          <div class="input-field">
            <input
              id="actividad-fisica"
              type="number"
              class="validate"
              step="any"
            />
            <label for="actividad-fisica">Actividad Física (horas)</label>
          </div>

          <div class="input-field">
            <select id="nivel-estres">
              <option value="1">Leve</option>
              <option value="2">Moderado</option>
              <option value="3">Severo</option>
            </select>
            <label for="nivel-estres">Nivel de estrés</label>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="input-field">
            <input id="peso" type="number" class="validate" step="any" />
            <label for="peso">Peso (kilogramos)</label>
          </div>

          <div class="input-field">
            <input
              id="contorno-cadera"
              type="number"
              class="validate"
              step="any"
            />
            <label for="contorno-cadera">Contorno cadera (metros)</label>
          </div>

          <div class="input-field">
            <input id="fecha-nacimiento" type="date" class="validate" />
            <label for="fecha-nacimiento">Fecha Nacimiento</label>
          </div>

          <div class="input-field">
            <select id="rendimiento-academico">
              <option value="1">Excelente</option>
              <option value="2">Bueno</option>
              <option value="3">Desaprobado</option>
            </select>
            <label for="rendimiento-academico">Rendimiento académico</label>
          </div>
        </div>
      </div>
      <div class="row center-align">
        <div class="col s12 m6">
          <button
            type="submit"
            class="waves-effect waves-light btn-small amber darken-3"
          >
            Guardar
          </button>
        </div>
        <div class="col s12 m6">
          <button
            type="button"
            class="waves-effect waves-light btn-small red darken-3"
          >
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
