<div class="row">
  <div class="col m6">
    <div class="col s12">
      <app-estado-actual-alumno-card
        [idPersona]="personaAutenticada?.id"
      ></app-estado-actual-alumno-card>
    </div>

    <div class="col s12">
      <app-datos-actuales-alumno-card></app-datos-actuales-alumno-card>
    </div>

    <div class="col s12">
      <app-historial-datos-alumno-card></app-historial-datos-alumno-card>
    </div>
  </div>
  <div class="col m6">
    <div class="col s12">
      <app-imc-alumno-card
        [idPersona]="personaAutenticada?.id"
      ></app-imc-alumno-card>
    </div>

    <div class="col s12">
      <app-icc-alumno-card></app-icc-alumno-card>
    </div>
  </div>
</div>
