<div class="row">
  <div class="col s12 m6">
    <app-estado-actual-alumno-card
      [idPersona]="personaAutenticada?.id"
    ></app-estado-actual-alumno-card>
    <app-datos-actuales-alumno-card></app-datos-actuales-alumno-card>
    <app-historial-datos-alumno-card
      [idPersona]="personaAutenticada?.id"
    ></app-historial-datos-alumno-card>
  </div>
  <div class="col s12 m6">
    <app-imc-alumno-card
      [idPersona]="personaAutenticada?.id"
    ></app-imc-alumno-card>
    <app-icc-alumno-card
      [idPersona]="personaAutenticada?.id"
    ></app-icc-alumno-card>
  </div>
</div>
