<div [id]="modalId" class="modal modal-max">
  <div class="modal-content">
    <h5>Nuevo Alumno</h5>
    <form (ngSubmit)="registrarAlumno($event)">
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field">
            <input
              [(ngModel)]="formulario.nombres"
              name="nombres"
              id="nuevo-alumno-form-modal-nombres"
              type="text"
              class="validate"
            />
            <label for="nuevo-alumno-form-modal-nombrese">Nombres</label>
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.apePaterno"
              name="ape-paterno"
              id="nuevo-alumno-form-modal-ape-paterno"
              type="text"
              class="validate"
            />
            <label for="nuevo-alumno-form-modal-ape-paterno"
              >Apellido Paterno</label
            >
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.apeMaterno"
              name="ape-materno"
              id="nuevo-alumno-form-modal-ape-materno"
              type="text"
              class="validate"
            />
            <label for="nuevo-alumno-form-modal-ape-materno"
              >Apellido Materno</label
            >
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.correoElectronico"
              name="correo-electronico"
              id="nuevo-alumno-form-modal-correo-electronico"
              type="text"
              class="validate"
            />
            <label for="nuevo-alumno-form-modal-correo-electronico"
              >Correo electrónico</label
            >
          </div>
        </div>

        <div class="col s12 m6">
          <div class="input-field">
            <input
              [(ngModel)]="formulario.dni"
              name="dni"
              id="nuevo-alumno-form-modal-dni"
              type="text"
              class="validate"
            />
            <label for="nuevo-alumno-form-modal-dni">DNI</label>
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.clave"
              name="clave"
              id="nuevo-alumno-form-modal-clave"
              type="password"
              class="validate"
            />
            <label for="nuevo-alumno-form-modal-clave">Clave</label>
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.codigo"
              name="codigo-universitario"
              id="nuevo-alumno-form-modal-codigo-universitario"
              type="text"
              class="validate"
            />
            <label for="nuevo-alumno-form-modal-codigo-universitario"
              >Cód. Universitario</label
            >
          </div>

          <div>
            <label>
              <input
                [(ngModel)]="formulario.sexo"
                name="nuevo-alumno-form-modal-sexo"
                type="radio"
                value="M"
              />
              <span>Masculino</span>
            </label>

            <label>
              <input
                [(ngModel)]="formulario.sexo"
                name="nuevo-alumno-form-modal-sexo"
                type="radio"
                value="F"
                checked
              />
              <span>Femenino</span>
            </label>
          </div>
        </div>
      </div>
      <div class="right-align">
        <button
          type="submit"
          class="waves-effect waves-light btn-small amber darken-3"
        >
          Crear
        </button>
        <button class="waves-effect waves-light btn-small red darken-3">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
