<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base</title>
    <link rel="stylesheet" href="base.component.css">
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <!-- El contenido va aquí -->
    <div class="app-centrar-cuerpo">
      <div class="app-centrar app-ancho-50 app-mg-arr-7p">
        <div class="card">
          <div class="card-image">
              <img src="assets/untels.jpg" style="height: 350px;">
          </div>
          
          <div class="card-content app-alinear-texto">
              <span class="card-title">Nombre App</span>
              <div class="app-centrar app-ancho-50">
                  <div class="col s12 app-mg-ver-10">
                      <a class="waves-effect waves-light btn-small amber darken-3 app-ancho-100p" href="../login">Ingresar</a>
                  </div>
                  <div class="col s12 app-mg-ver-10">
                      <a class="waves-effect waves-light btn-small amber darken-3 app-ancho-100p" href="../registrarse">Registrarse</a>
                  </div>
              </div>
              <p>2020</p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
