.app-centrar-cuerpo{
    width: 700px;
    margin: auto;
}

.app-centrar{
    margin: auto; 
}

.app-ancho-50{
    width: 50%;
}

.app-ancho-60{
    width: 60%;
}
.app-mg-arr-0{
    margin-top: 0;
}

.app-mg-der-dentro-24{
    margin-right: -2px;
}

.app-mg-izq-10{
    margin-left: 10px;
}

.app-mg-arr-7p{
    margin-top: 7%;
}

.app-mg-ver-5{
    margin-top: 5px; 
    margin-bottom: 5px;
}

.app-mg-ver-10{
    margin-top: 10px; 
    margin-bottom: 10px;
}

.app-mg-ver-30{
    margin-top: 30px; 
    margin-bottom: 30px;
}

.app-alinear-texto{
    text-align: center;
}

.app-ancho-100p{
    width: 100%;
}

.app-ancho-50p{
    width: 50%;
}

.selector:hover{
    background:#ff8f00;
}

.selector-icono:hover{
    color:#ff8f00;
    cursor: pointer;
}

.tamaño-icono-60{
    font-size: 60px;
}

.app-centrar-contenido{
    justify-content: center;
}

.app-altura-vh-20{
    width: 20vh;
}

.app-altura-vh-30{
    width: 30vh;
}

.app-altura-vh-40{
    width: 40vh;
}

.app-color-negro{
    color: black;
}

.app-distanciamiento{
    justify-content: space-between;
}

.app-flex{
    display: flex;
}

.contenedor{
    height: 100vh;
}
