<div style="padding: 0.75rem 0.75rem">
  <app-filtro-lista-usuarios-card
    (filtrar)="filtrarUsuarios($event)"
  ></app-filtro-lista-usuarios-card>

  <div class="card">
    <div class="card-content">
      <h6>Listado de usuarios</h6>
      <div class="right-align">
        <button
          (click)="abrirNuevoUsuarioFormModal()"
          class="waves-effect waves-light btn amber darken-3"
        >
          Nuevo usuario
        </button>
      </div>
      <div *ngIf="estado === Estados.VACIO" class="center-align">
        <i class="material-icons">info</i>
        <p class="app-mg-arr-0">No se encontraron datos</p>
      </div>
      <div *ngIf="estado === Estados.CARGANDO" class="center-align">
        <app-spinner></app-spinner>
      </div>
      <div
        *ngIf="estado === Estados.CON_DATOS"
        style="overflow-x: visible; overflow-y: hidden"
      >
        <table class="striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>DNI</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Edad</th>
              <th>Correo Electrónico</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let persona of listaPersonas; let i = index">
              <td>{{ persona.id }}</td>
              <td>{{ persona?.dni }}</td>
              <td>{{ persona?.nombre }}</td>
              <td>
                {{ persona?.apepaterno }}
                {{ persona?.apematerno }}
              </td>
              <td>{{ persona?.edad }}</td>
              <td>{{ persona?.usuario?.correoElectronico }}</td>
              <td>
                <div ngDropdown>
                  <button
                    ngDropdownControl
                    type="button"
                    class="waves-effect waves-light btn amber darken-3"
                  >
                    <i class="fas fa-ellipsis-v"></i> Acciones
                  </button>
                  <div
                    ngDropdownContent
                    dropdownClass="slide-fade app-dropdown-content"
                  >
                    <ul>
                      <li>
                        <a
                          href="javascript:void(0)"
                          (click)="abrirDatosPersonalesDetallesModal(i)"
                        >
                          Ver
                        </a>
                      </li>
                      <li>
                        <a
                          href="javascript:void(0)"
                          (click)="abrirEliminarUsuarioModal(i)"
                        >
                          Eliminar
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-nuevo-usuario-form-modal
  [modalId]="'app-nuevo-usuario-form-modal'"
  [modalActions]="nuevoUsuarioFormModalActions"
  (registrado)="filtrarTodo()"
></app-nuevo-usuario-form-modal>

<app-eliminar-usuario-modal
  [modalId]="'app-eliminar-usuario-modal'"
  [modalActions]="eliminarUsuarioModalActions"
  [persona]="personaSeleccionada"
  (eliminado)="filtrarTodo()"
></app-eliminar-usuario-modal>

<app-datos-personales-detalles-modal
  [modalId]="'app-datos-personales-detalles-modal'"
  [modalActions]="datosPersonalesDetallesModalActions"
  [persona]="personaSeleccionada"
></app-datos-personales-detalles-modal>
