<div
  materialize="modal"
  [id]="modalId"
  class="modal modal-max"
  [materializeActions]="modalActions"
>
  <div class="modal-content">
    <h5>Datos actuales</h5>
    <form materialize (ngSubmit)="registrarDatosActuales($event)">
      <div class="row">
        <div class="col s12 m6">
          <div class="input-field">
            <input
              [(ngModel)]="formulario.estatura"
              name="estatura"
              [value]="formulario.estatura"
              id="{{ modalId + '-estatura' }}"
              type="number"
              class="validate"
              step="any"
            />
            <label for="{{ modalId + '-estatura' }}" class="active"
              >Estatura (metros)</label
            >
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.contornoCintura"
              name="contorno-cintura"
              [value]="formulario.contornoCintura"
              id="{{ modalId + '-contorno-cintura' }}"
              type="number"
              class="validate"
              step="any"
            />
            <label for="{{ modalId + '-contorno-cintura' }}"
              >Contorno cintura (metros)</label
            >
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.actividadFisica"
              name="actividad-fisica"
              [value]="formulario.actividadFisica"
              id="{{ modalId + '-actividad-fisica' }}"
              type="number"
              class="validate"
              step="any"
            />
            <label for="{{ modalId + '-actividad-fisica' }}"
              >Actividad Física (horas)</label
            >
          </div>

          <div class="input-field">
            <select
              [(ngModel)]="formulario.nivelEstres"
              name="nivel-estres"
              id="{{ modalId + '-nivel-estres' }}"
              materialize="material_select"
            >
              <option disabled>Seleccione...</option>
              <option
                *ngFor="let nivelEstres of comboNivelEstres"
                [value]="nivelEstres.valor"
              >
                {{ nivelEstres.nombre }}
              </option>
            </select>
            <label for="{{ modalId + '-nivel-estres' }}">Nivel de estrés</label>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="input-field">
            <input
              [(ngModel)]="formulario.peso"
              name="peso"
              [value]="formulario.peso"
              id="{{ modalId + '-peso' }}"
              type="number"
              class="validate"
              step="any"
            />
            <label for="{{ modalId + 'peso' }}">Peso (kilogramos)</label>
          </div>

          <div class="input-field">
            <input
              [(ngModel)]="formulario.contornoCadera"
              name="contorno-cadera"
              [value]="formulario.contornoCadera"
              id="{{ modalId + '-contorno-cadera' }}"
              type="number"
              class="validate"
              step="any"
            />
            <label for="{{ modalId + '-contorno-cadera' }}"
              >Contorno cadera (metros)</label
            >
          </div>

          <div *ngIf="inicial" class="input-field">
            <input
              [(ngModel)]="fechaNacimientoFormulario"
              name="fecha-nacimiento"
              [value]="fechaNacimientoFormulario"
              id="{{ modalId + '-fecha-nacimiento' }}"
              type="date"
              class="validate"
            />
            <label for="{{ modalId + '-fecha-nacimiento' }}" class="active"
              >Fecha Nacimiento</label
            >
          </div>

          <div class="input-field">
            <select
              [(ngModel)]="formulario.rendimientoAcademico"
              name="rendimientoAcademico"
              id="{{ modalId + '-rendimiento-academico' }}"
              materialize="material_select"
            >
              <option disabled>Seleccione...</option>
              <option
                *ngFor="let rendAcademico of comboRendimientoAcademico"
                [value]="rendAcademico.valor"
              >
                {{ rendAcademico.nombre }}
              </option>
            </select>
            <label for="{{ modalId + '-rendimiento-academico' }}">
              Rendimiento académico
            </label>
          </div>
        </div>
      </div>
      <div class="row right-align">
        <button class="waves-effect waves-light btn amber darken-3">
          Guardar
        </button>
        <button
          type="button"
          (click)="cerrarModal()"
          class="waves-effect waves-light btn red darken-3"
          style="margin-left: 10px"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
